﻿@model SportsTracker.Models.DbModel.Post

@{
    ViewBag.Title = "Edit";
}

<style>
    #PostDescription {
        
    }
    .editor-multiline-field textarea {
    width: 300px;
    height: 200px;
}
</style>
<div id="title">
    <h1 style="color: #380B61">Edit Posts</h1>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="row " id="post">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading lead">
                        <div class="editor-field " aria-required="true">
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div> 
                    </div>
                    <div class="panel-body">
                        <blockquote>
                            <div class="editor-multiline-field" id="PostDescription" aria-required="true" >
                                @Html.EditorFor(model => model.PostDescription)
                                @Html.ValidationMessageFor(model => model.PostDescription)


                            </div>
                            
                        </blockquote>
                    </div>
                    <div class="panel-footer">

                        <ul class="list-inline">
                            
                            <li>
                                <p>
                                    <input type="submit" class="btn-success"value="Save" />
                                </p>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
