﻿@model IEnumerable<SportsTracker.Models.DbModel.User>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm("Search", "User", FormMethod.Get))
{
    <b>Search by:</b>
    @Html.RadioButton("searchBy", "Firstname", true) <text>First Name</text>
    @Html.RadioButton("searchBy", "Lastname") <text>Last Name</text>
    @Html.RadioButton("searchBy", "Email") <text>Email</text>
    @Html.RadioButton("searchBy", "Username") <text>Username</text>
    <br />
    @Html.TextBox("search") <input type="submit" value="Search" />
}

<style>
    th {
        text-align: center;
    }

    table {
        border: 1px solid black;
        width: 100%;
    }
</style>

<br />
@if (Model.Count() != 0)
{
    <table border="2">
        <tr>
            <th>
                Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>

        </tr>


        @foreach (var item in Model)
        {

            <tr>

                <td>
                    <a href="/User/ProfileDetails/@item.UserProfileId">
                       <b>@Html.DisplayFor(modelItem => item.Firstname)</b>
                       <b>@Html.DisplayFor(modelItem => item.Lastname)</b>
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>

            </tr>
        }

    </table>
}
@*@if (Model.Count() == 0)
{
    <h4 style="color: red">No match found!</h4>
}*@