﻿@model IEnumerable<SportsTracker.Models.DbModel.User>

@{
    ViewBag.Title = "Index";
    var groupId = ViewBag.GroupId;
    var a = 7;
}



<h2>Find a user</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Search", "User",FormMethod.Get ))
{
    <b>Search by:</b>
    @Html.RadioButton("searchBy", "Firstname", true) <text>First Name</text>
    @Html.RadioButton("searchBy", "Lastname") <text>Last Name</text>
    @Html.RadioButton("searchBy", "Email") <text>Email</text>
    @Html.RadioButton("searchBy", "Username") <text>Username</text>
    <br />
    @Html.TextBox("search") <input type="submit" value="Search" />
}

<style>
    th {
        text-align: center;
    }

    table {
       border: 1px solid black;
       width: 100%; 
    }
</style>

<br/>
<table border="2">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>Action</th>
    </tr>


    @foreach (var item in Model)
    {
        
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
@if (Model.Count() == 0)
{
    <h4 style="color: red">No match found!</h4>
}

