﻿@model SportsTracker.Models.RegisterModel
@{
    ViewBag.Title = "Registration Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SportsTracker</title>
    <link href="~/logo.jpg" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap Core CSS -->
    <link href="~/assests/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Timeline CSS -->
    <link href="~/assests/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/assests/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/assests/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/assests/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    @*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Create a new account.</h2>
    </hgroup>*@
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <section id="loginForm">

                        <div class="panel-heading">
                            <h3 class="panel-title">Please Register to Our Site</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()

                                <fieldset>
                                    <legend>Registration Form</legend>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                    <br />

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                    <br />
                                    <div>
                                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Register" />
                                    </div>

                                </fieldset>
                                <p>
                                    @Html.ActionLink("Login", "Login") if you already have an account.
                                </p>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    @*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

    <script src="/assests/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assests/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assests/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assests/dist/js/sb-admin-2.js"></script>
</body>
</html>
