﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>SportsTracker</title>
    <link href="~/logo.jpg" rel="shortcut icon" type="image/x-icon" />

    <!-- Bootstrap Core CSS -->
    <link href="~/assests/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Timeline CSS -->
    <link href="~/assests/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/assests/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/assests/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/assests/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .nav > li > a {
            font-weight: 700;
            color: #6FAFFF;
        }
        /*#side-menu a {
            color: white;
        }

        #side-menu li a:hover, ul li a:focus {
            color: #337ab7;
        }

        .sidebar ul li {
            border-bottom: 1px solid #249C60;
        }

        .navbar-right a{
            color: white;
        }

        .navbar-right li a:hover{
            color: #337ab7;
        }*/
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; border-color: #e7e7e7; background-color: #0E2744">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index" style="color: #ffffff; font-size: 20px; text-transform: uppercase; font-weight: 600;">Sports Tracker</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <li class="dropdown">
                   @* <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i>New Comment

                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i>3 New Followers

                    <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i>Message Sent

                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-tasks fa-fw"></i>New Task

                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-upload fa-fw"></i>Server Rebooted

                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>*@
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>

                    @Html.Partial("_LoginPartial")

                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="background: #2C3E50;">
                <div class="sidebar-nav navbar-collapse" style="height: 685px;">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        @if (WebSecurity.IsAuthenticated)
                        {
                            <li>
                                <a href="#"><i class="fa fa-bicycle fa-fw"> </i> Profile<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">

                                    <li>
                                        <a href="/User/ProfileDetails/@WebSecurity.CurrentUserId">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="/User/Search">Search Profile</a>
                                    </li>
                                    <li>
                                        <a href="/User/Edit/@WebSecurity.CurrentUserId">Edit Profile</a>
                                    </li>
                                   
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-tasks fa-fw"></i> Post<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Post/Index">News Feed</a>
                                    </li>
                                    <li>
                                        <a href="/Post/MyPosts">My Posts</a>
                                    </li>
                                    <li>
                                        <a href="/Post/Create">Create Post</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-group"></i> Group<span class="fa arrow "></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Group/Create">Create New Group</a>
                                    </li>
                                    <li>
                                        <a href="/Group/MyGroups">My Groups</a>
                                    </li>
                                    <li>
                                        <a href="/Group/Index">All Groups</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-map-marker fa-fw"></i>Activities<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Location/CreateActivity">Add Activity</a>
                                    </li>
                                    <li>
                                        <a href="/Location/MyActivities">My Activities</a>
                                    </li>

                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="/Location/OverallStatistics"><i class="fa fa-bar-chart-o fa-fw"></i>Statistics Profile</a>
                            </li>
                            
                            
                            
                          
                        }
                        <li>
                            <a href="/Home/About"><i class="fa fa-at fa-fw"></i>About Us</a>
                        </li>
                        <li>
                            <a href="/Home/Contact"><i class="fa fa-microphone fa-fw"></i>Contact Information</a>
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="background-color: #fff">
            <div class="row">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

            <i style="font-family: monospace; color: #6B3838; margin-left: 270px;">Copyright &copy; SportsTracker, 2016</i>
        

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="/assests/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assests/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assests/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assests/dist/js/sb-admin-2.js"></script>

    @*    <script type="text/javascript" src="https://rawgit.com/chartjs/Chart.js/master/dist/Chart.min.js"></script>*@


    @*    @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>

</html>
