﻿@{
    ViewBag.Title = "MyActivities";
}

<h2>My Recent Activities</h2>

@foreach (var ac in Model)
{
    <div class="list-group">
        <div class="row">
            <div class="list-group-item list-group-item-info" style="height: 70px">

                <div class="col-sm-2">
                  <b>Status:</b> @ac.ActivityType.Title
                </div>
                <div class="col-sm-2">
                    <b >Distance Travelled:</b> @ac.Distance km
                </div>
                <div class="col-sm-2">
                    <b>Calorie Burned:</b> @ac.Calorie kcal
                </div>
                <div class="col-sm-2">
                    <b>Duration:</b> @ac.Duration hour
                </div>
                <div class="col-sm-2">
                    <b class="glyphicon glyphicon-time"></b>@ac.CreatedOn
                </div>
                <div class="col-sm-2">
                    <a href="/Location/Details/@ac.Id" style="text-decoration: none">Details</a>
                    <a href="/Location/DeleteActivity/@ac.Id"  style="padding: 9px; margin-right: -25px; color: red; text-decoration: none" >Delete</a>
                </div>
                 @*<div class="col-sm-1" style="text-align: right; padding-top: 15px; padding-right: 18px;">
                    <a href="/Location/DeleteActivity/@ac.Id"  style="padding: 9px; margin-right: -25px; color: red" >Delete</a>
        </div>*@
            </div>
        </div>
    </div>
}